<div class="loginPage" *ngIf="!logedInUser">
  <h2>Dummy login</h2>
  <div class="modal-body">
    <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm.value.name)">
      <div class="form-group">
        <label for="name">Enter your CNP:</label>
        <input type="text" ngModel name="name" class="form-control" id="login-name" required>
      </div>
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
<div class="users" *ngIf="logedInUser">
  <div class="header">
    <img src="assets/images/logo.jpg" alt="logo">
    <div class="user">
      <img src="assets/images/user.jpg" alt="logo">
      {{logedInUser.firstName}} {{logedInUser.lastName}}
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="My Info">
      <ng-template matTabContent>
        <div class="user-info-background">
          <div class="user-info">
            I am {{logedInUser.firstName}} {{logedInUser.lastName}}, CNP={{logedInUser.cnp}},
            Email={{logedInUser.email}}, Role={{logedInUser.role}}
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="All Users" *ngIf="isAdmin()">
      <div class="user-find">
        <div class="search-bar">
          <form #loginForm="ngForm" (ngSubmit)="findUsers(loginForm.value.cnp,loginForm.value.name,0)">
            <div class="fields">
              <div class="form-group">
                <label for="cnp">CNP:</label>
                <input type="text" ngModel name="cnp" class="form-control" id="cnp" [(ngModel)]="searchCnp">
              </div>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" ngModel name="name" class="form-control" id="name" [(ngModel)]="searchName">
              </div>
            </div>
            <div class="buttons">
              <form #loginForm2="ngForm" (ngSubmit)="resetSearch()" class="reset-form">
                <button type="submit" class="btn btn-secondary">Reset</button>
              </form>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
        <div class="found-count">
          <p>{{foundUsers.length}} User(s) were found.</p>
        </div>
        <div class="found-users">
          <table mat-table [dataSource]="foundUsers" class="mat-elevation-z8">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="cnp">
              <th mat-header-cell *matHeaderCellDef> CNP </th>
              <td mat-cell *matCellDef="let element"> {{element.cnp}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Role </th>
              <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Help">
      <div class="help-info-background">
        <div class="help-info">
          <div class="help-info-admin" *ngIf="isAdmin()">
            As an admin your role is to encourage others to do the right thing, and nothing is righter than reading
            books!
            <br>
            Except writing them!
          </div>
          <div class="help-info-viewer">
            The book club is for avid lovers of reading and writing books, happy reading!
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>